<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Now Playing</title>
    <script src="scripts/reload.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <link rel="stylesheet" href="/stylesheets/now_playing_{{preset}}.css">
  </head>
  <body>
    <img id="artwork" src="{{artwork}}" alt="">
    <div id="info">
      <span id="artist">{{artist}}</span>
      <span id="track">{{track}}</span>
    </div>
  </body>
</html>
